@main-white: #FFFFFF;
@white-alabaster: #FAFAFA;
@main-black: #0C0C0D;
@nero: #1A1A1A;
@deep-grey: #30333B;
@light-grey: #989A9F;
@mercury-grey: #E6E6E6;
@deep-red: #B31E38;
@light-blue: #A7C6ED;
@deep-blue: #0724a3;
